{% extends 'base.html.twig' %}

{% block title %}
  Login
{% endblock %}

{% block body %}
  <div class="d-flex justify-content-center mt-5">
    <img src="https://intranet.fougeres.fr/wp-content/uploads/2019/12/Logo-foug%c3%a8res-quadri.png" alt="Logo de Fougères" width="15%" height="15%" />
  </div>

  <div class="d-flex justify-content-center mt-5">
    <div class="card shadow" style="width: 400px;">
      <div class="card-header text-center fw-bold card-orange">Bienvenue sur QCM Fougères</div>

<!--
    data-controller="login"
    → Active le controller Stimulus nommé "login"
    → Stimulus va automatiquement lier ce controller au fichier login_controller.js

    data-login-accueil-value
    → Passe une valeur depuis Twig vers le controller Stimulus
    → Ici, on transmet l’URL de la page d’accueil générée par Symfony
-->
      <div class="card-body p-4" data-controller="login" data-login-accueil-value="{{ path('app_accueil') }}">
        <form  action="{{ path('app_login') }}" method="POST">
          {% if error %}
            <div class="alert alert-danger py-2" role="alert">
                {{ error.messageKey}}
            </div>
          {% endif %}
          <fieldset>
            <div class="mb-3">
              <label for="_username" class="form-label">Nom d'utilisateur</label>
              <input type="text" id="_username" name="username" class="form-control" value="{{last_username}}" required placeholder="Identifiant" />
            </div>

            <div class="mb-4">
              <label for="_password" class="form-label">Mot de passe</label>
              <input type="password" id="_password" name="password" class="form-control" required placeholder="Mot de passe" />
            </div>
            <!--
                data-action="click->login#redirectVersAccueil"
                → Écoute l’événement "click" sur le bouton
                → Appelle la méthode redirectVersAccueil() du controller "login"
                → Permet d’intercepter le clic pour gérer la redirection en JavaScript
            -->
            <input type="hidden" name="_csrf_token_login" data-login-target="csrfToken" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn-orange btn-size w-100">S'identifier</button>
          </fieldset>
        </form>          
      </div>
    </div>
  </div>
{% endblock %}
